body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url('https://cdn.pixabay.com/photo/2015/01/07/16/37/wood-591631_1280.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.completed {
  text-decoration: line-through;
}

.todo-list {
  ol {
    background-color: rgba(180, 179, 74, 0.8);

    section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px;

      &:hover {
        background-color: rgba(93, 151, 161, 0.5);
        cursor: pointer;
      }

      li {
        cursor: pointer;
        margin-right: 10px;
        font-family: 'Comic Neue';
        font-weight: 500;
        font-size: 26px;
      }
      span {
        color: #fff;
        font-size: 18px;
      }
    }
  }
}
